.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--separate-color);
}

.content {
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

.location-list {
    height: 100%;
    overflow-y: scroll;
}

.location-item {
    padding: 12px;
    border-bottom: 1px solid var(--separate-color);
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

.location-header {
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.info-detail {
    font-size: 1.2rem;
}

.info-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.location-path {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 16px;
}

.location-btn,
.location-distance {
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    background-color: transparent;
}

.location-btn {
    &:hover {
        color: var(--primary);
    }
}

.path-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

// Mobile
@media (max-width: 740px) {
    .content-section {
        & + .content-section {
            display: none;
        }
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .content-section {
        width: 100%;
        & + .content-section {
            display: none;
        }
    }
}
