.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100%;
}

// Menu btn
.menu-btn {
    display: none;
}

// Logo
.logo-link {
    margin-left: 20px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    scale: 1.2;
}

// Nav
.nav-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.nav-item {
    display: block;
    
    &.active .nav-link {
        color: var(--primary);
    }
}

.nav-link {
    min-width: 150px;
    color: var(--black);
    
    &:hover {
        background-color: var(--hover-color);
    }
}

// Action
.login-btn {
    width: 118px; // 118 is logo width
}

.user-avatar {
    margin-left: calc(118px - 32px);
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

// Mobile
@media (max-width: 740px) {
    .container {
        align-items: normal;
        padding: 0 10px;
    }

    // Menu btn
    .menu-btn {
        margin: 0 10px;
        display: block;
        font-size: 4.2rem;
    }

    // Logo
    .logo {
        display: flex;
    }

    .logo-link {
        margin-left: 8px;
    }

    // Nav
    .nav-list {
        position: absolute;
        left: 0;
        flex-direction: column;
        display: none;
        margin-top: var(--default-layout-header-height);
        width: 100%;
        background-color: var(--white);
        z-index: 2;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        width: 100%;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .action {
        margin: auto 0;
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        align-items: normal;
        padding: 0 10px;
    }

    // Menu btn
    .menu-btn {
        margin: 0 20px;
        display: block;
        font-size: 4.2rem;
    }

    // Logo
    .logo {
        display: flex;
    }

    // Nav
    .nav-list {
        position: absolute;
        left: 0;
        flex-direction: column;
        display: none;
        margin-top: var(--default-layout-header-height);
        width: 100%;
        background-color: var(--white);
        z-index: 2;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        width: 100%;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .action {
        margin: auto 0;
    }
}