.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    margin-bottom: 60px;
    width: 90%;
    background-color: var(--white);
}

.header {
    margin-bottom: -4px;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--primary);
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.content-section {
    &:has(.content-info) {
        margin-top: 16px;
    }
    &:has(.image) {
        display: flex;
        justify-content: end;
    }
}

.content-info {
    & ~ .content-info {
        margin-top: 8px;
    }
}

.image {
    width: 64%;
    aspect-ratio: 1 / 1;
}

// Mobile
@media (max-width: 740px) {
    .content {
        display: block;
    }

    .content-section {
        &:has(.image) {
            display: block;
        }
    }

    .image {
        width: 100%;
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .content {
        display: block;
    }

    .content-section {
        &:has(.image) {
            display: block;
        }
    }

    .image {
        width: 100%;
    }
}