// Grid
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 8px), 1fr));
    grid-column-gap: 8px;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33333% - 8px), 1fr));
    grid-column-gap: 8px;
}

.grid-col-4 {
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 8px), 1fr));
}

.grid-col-2-8 {
    display: grid;
    grid-template-columns: 25% auto;
}

// Wrapper
.wrapper {
    width: 90%;
}

.body {
    width: 100%;
    min-height: 282px;
}

.header {
    color: rgb(22, 24, 35);
    font-size: 3.2rem;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}

// Form
.info-header {
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
}

.label {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(22, 24, 35);
    margin-bottom: 8px;
    margin-right: 8px;
    line-height: 4.4rem;
}

// .label-l {
//     display: flex;
//     width: 100%;
//     font-size: 2.2rem;
// }

// .input-group {
//     display: flex;
//     align-items: center;
// }

.input-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    font-size: 1.6rem;
    min-width: 100px;
    height: 44px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    margin-bottom: 8px;
}

.radio-wrapper {
    // justify-content: center;
    display: flex;

    & > .label:first-child {
        margin-right: 20px;
    }
}

.input-radio {
    margin-bottom: 8px;
    margin-right: 4px;
    accent-color: var(--primary)
}

.submit-btn {
    margin-top: 20px;
    margin-bottom: 24px;
    width: 100%;
    padding: 12px 8px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
}